@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: $icy-white;
    
    ::selection {
        background-color: $pink;
        color: $white;
    }
    ::-moz-selection {
        background-color: $pink;
        color: $white;
    }
}
