$green: #9DA993;
$light-green: #C5E5A5;
$yellow: #F9D876;
$light-yellow: #FBE39D;
$brown: #BCA88E;
$dark-brown: #8D795F;
$icy-white: #E3E8E9;
$dark-green: #9DA993;
$pink: #E4B4B4;
$white: #FFF;
$black: #464646;