@import '../../styles/variables.scss';

main {
    display: flex;
    flex-direction: row;
    
    header, footer {
        height: 20vh;
    }

    footer {
        display: flex;
        align-items: end;
        justify-content: end;
        span {
            font-family: 'Mukta';
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight: bold;
            color: $green;
            font-size: 16px;
        }
    }

    section {
        width: 25vw;
    }

    article {
        display: flex;
        align-items: center;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .content {
        width: 1092px;
        height: 631px;
        background-color: $white;
        border-radius: 5px;
        .box {
            display: flex;
            flex-direction: column;

            .box-header {
                border-radius: 5px 5px 0 0;
                height: 13px;
                background-color: $dark-green;
            }

            .box-content{
                display: flex;
                justify-content: space-between;
                height: 560px;
                line-height: 190%;

                .left-box-content, .right-box-content {
                    display: flex;
                    flex-direction: column;
                    max-width: 338px;
                    align-items: center;
                }

                .center-box-content {
                    max-width: 400px;
                    margin-top: 3em;
                    font-family: 'Open Sans', sans-serif;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    overflow: auto;
                    padding: 0 20px;

                    &::-webkit-scrollbar {
                        width: 3px;
                    }
                    &::-webkit-scrollbar-track {
                        border-radius: 50px;
                        background: $icy-white;
                        margin: 1em 0;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $pink;
                        border-radius: 50px;
                    }

                    h1 {
                        font-family: 'Cormorant Garamond';
                    }

                    p {
                        font-size: 14px;
                        strong {
                            color: $light-green;
                        }

                    }
                }

                .left-box-content {
                    font-family: 'Cormorant Garamond';
                    font-style: normal;
                    font-weight: 400;
                    color: $black;
                    gap: 30px;
                    margin-top: 3em;
                    
                    .left-box-content-text {
                        margin: 0 20px;
                        display: flex;
                        gap: 20px;
                        flex-direction: column;

                        h1 {
                            font-weight: 700;
                            font-size: 22px;
                        }
    
                        span {
                            font-size: 16px;
                            font-weight: 400;
                            color: $pink;
                            margin-left: 5px;
                        }
    
                        p {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 14px;
                            strong {
                                color: $light-green;
                            }
    
                        }
                    }


                    .profile-img {
                        width: 167px;
                        height: 228px;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                }

                .right-box-content {
                    margin-top: 3em;
                    padding: 0 20px;
                    .travel-img {
                        width: 295px;
                        height: 458px;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                }
            }

            .box-nav {
                display: flex;
                height: 58px;
                align-items: center;
                justify-content: center;
                border-top: 1px solid $icy-white;
                gap: 15px;

                .box-nav-button {
                    width: 125px;
                    height: 40px;
                    color: $icy-white;
                    text-transform: lowercase;
                    border: none;
                    background-color: $brown;
                    border-radius: 5px;

                    span {
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                    }

                    &:hover {
                        background-color: $white;
                        border: 1px solid $brown;
                        color: $brown;
                        transition: ease 0.5s;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }

            }
        }
    }

}
